<%
var completedClass = '';
if(completed == true){
	completedClass = 'completed';
}
%>
<div class="status <%=completedClass %>">
	<span class="icon icon-checkmark"></span>
</div>
<div class="title <%=completedClass %>">
	<%=task %>
</div>

<button type="button" class="btn btn-default edit-btn">
	<span class="icon icon-pencil"></span>
</button>

<div id="list-form-<%=index %>" class="accordion-form">
	<input class="edit edit-title" type="text" value="<%=task %>" />
	<p class="error error-output"></p>
	<select  class="category-dropdown selectpicker show-menu-arrow" data-container="body" data-size="5" data-width="250px" data-show-subtext="true" data-header="Select a todo list">
		<% 
		_.each(categories, function(thisCateogry){ 
			var selected = (category == thisCateogry.attributes.id) ? 'selected="selected"' : '';
		%>
			<option id="cat_<%= thisCateogry.attributes.id %>" value="<%= thisCateogry.attributes.id %>" <%=selected %>><%= thisCateogry.attributes.name %></option>
		<% }); %>
	</select>
	<a href="#" class="action-btn deleteTodo">Delete this todo</a>
	<a href="#" class="action-btn saveTodo">Save Changes</a>
</div>